
<%= area_chart Article.group_by_day(:created_at).count %>

    <%= stylesheet_link_tag "http://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" %>
    <%= javascript_include_tag "http://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" %>

    <div class="container">
      <table class="table" id="example" class="display nowrap" width="100%">
        <thead>
          <tr>
            <th>Title</th>
            <th></th>
          </tr>
        </thead>
        
        <tbody>
          <% @articles.each do |article| %>
            <tr>
              <th><b> <%= article.title %></b></th>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
